* {
    text-decoration: none;
}

a {
    color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    display: inline-block;
    position: relative;
    padding: 15px;
}

/* header ul li ul {
    display: none;
} */

header ul li ul {
    display: none;
    position: absolute;
    /* border: 1px solid #e5e5e5; */
    padding: 5px;
    left: 0px;
}

header ul li ul li {
    display: block;
    white-space: nowrap;
    border: 1px solid #e5e5e5;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li ul {
    display: none !important;
    position: absolute;
}

header ul li ul li ul li {
    position: relative;
    bottom: 40px;
    left: 85px;
}

header ul li ul li:hover ul {
    display: block !important;
}