body {
    height: 1000px;
}

.Box {
    height: 500px;
    border: 1px solid #000000;

    background-image: url("SlideBanner-\ \ 1.avif");
    background-repeat: no-repeat;

    background-size: contain;
    background-attachment: fixed;

    background-attachment: fixed;

}